.footer {
    background-color: #6278F7;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    margin-top: 64px;
    padding: 64px;
}

.footer .social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .social img {
    margin-right: 32px;
    max-width: 40px;
    max-height: 40px;
}

.footer .logo {
    text-align: center;
    align-items: center;
}

.footer .team {
    text-align: center;
    align-items: center;
}

.footer .team label {
    color: #FFF;
}